<div id="<%= dom_id movies %>">
  <p>
    <strong>Title:</strong>
    <%= movies.title %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= movies.rating %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movies.description %>
  </p>

  <p>
    <strong>Release date:</strong>
    <%= movies.release_date %>
  </p>


</div>
