<p style="color: green"><%= notice %></p>

<table class="table" id="movies">
  <thead>
    <tr>
      <th class="<%= highlight_column('title') %>">
        <%= sortable("title", "Movie Title") %>
      </th>
      <th class="<%= highlight_column('rating') %>">
        <%= sortable("rating", "Rating") %>
      </th>
      <th class="<%= highlight_column('release_date') %>">
        <%= sortable("release_date", "Release Date") %>
      </th>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date %></td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3" style="text-align: center; margin: 20px;">
  Total Movies: <%= @movies.count %>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= link_to 'Add new movie', new_movie_path, :class => 'btn btn-primary' %>
</td>

    </tr>

  </tfoot>
</table>