<div class="create-movie-container">

  <h2 class="page-title">Create New Movie</h2>
  
  <div class="form-container">
    <%= form_tag movies_path, class: 'movie-form' do %>
      
      <div class="form-group">
        <%= label :movie, :title, 'Title', class: 'form-label' %>
        <%= text_field :movie, :title, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label :movie, :rating, 'Rating', class: 'form-label' %>
        <%= select :movie, :rating, ['G','PG','PG-13','R','NC-17'], {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= label :movie, :release_date, 'Released On', class: 'form-label' %>
        <%= date_select :movie, :release_date, {}, class: 'form-control-inline' %>
      </div>

      <div class="form-actions">
        <%= submit_tag 'Add Movie', class: 'btn show-btn' %>
        <%= link_to 'Back', movies_path, class: 'btn back-btn' %>
      </div>
      
    <% end %>
  </div>
  
</div>