<div class="movie-container">

  <% if notice.present? %>
    <div class="alert alert-success" role="alert">
      <%= notice %>
    </div>
  <% end %>

  <div class="movie-card">
    <div class="card-body">
      <%= render @movie %>
    </div>
  </div>

  <div class="action-buttons">
    <%= link_to "Edit this movie", edit_movie_path(@movie), class: "btn edit-btn" %>
    <%= link_to "Back to movies", movies_path, class: "btn back-btn" %>

    <%= button_to "Destroy this movie", @movie, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this movie?" } %>
  </div>
  
</div>